/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #61dafb;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  width: 300px;
}

strong {
  display: block;
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }

  li {
    width: 80%;
  }
}
